<template name= "footer">
	<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<div class="text-left">
							&copy; Copyright Group Rock
						</div>
					</div>
					<div class="col-xs-4">
						Theme by <a href="http://www.tostov.com">TOSTOV.COM</a>
					</div>
					<div class="col-xs-4">
						<div class="top">
							<a href="#header">
								<i class="ion-arrow-up-b"></i>
							</a>
						</div>
					</div>
				</div>
			</div>		
	</footer>
</template>