<template name="pagedetail">

<div class="section">
		<div class="container">
		<!-- {{#each detial}} -->
		<span style="padding:30px;"></span>

			<div class="col-md-6 box_detail">
				<h4>The Cambodia Travel</h4>
				 <img src="/images/12.png" class="img-responsive"/>
				 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250151.1512034605!2d104.75009803674607!3d11.579666939586584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109513dc76a6be3%3A0x9c010ee85ab525bb!2sPhnom+Penh!5e0!3m2!1sen!2skh!4v1449036781483" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe> 
      			 <p></p>
			</div>
			<!-- {{/each}} -->
			<div class="col-md-6">
								
					<div class="list-comment">
						<p>Phone : {{phone}}</p><br>
						<p>Email : {{email}}</p><br>
						<p>Date :  {{datetime}}</p><br>
						<p>Price : {{price}}$</p><br>
						<p>People : {{people}}</p><br>
						<p>Description : {{message}}</p><br>
						<p>Location Start:  {{locationstart}}</p>
						<p>Location Stop:  {{locationend}}</p>
					</div>

		</div>
		</div>
    </div>

</template>