<Template name="updatecontent">

		<span style="padding:30px;"></span>

<!-- Section Background -->
	<section class="section-background">
		<div class="container">
			<h2 class="page-header">
				get in touch with us
			</h2>
		</div> <!-- /.container -->
	</section> <!-- /.section-background -->


	<section class="section-wrapper contact-and-map">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h2 class="section-title">
						Post Content
					</h2>
					<div class="form">
						{{#if postError}}
							 <div class="alert alert-danger" role="alert">
								<span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span style="display:inline-block" class="sr-only">Error:</span>
							 {{postErrormsg}}
							 </div>
							 {{/if}}
						<div class="input-group">
						 	<input class="form-control border-radius border-right " value="{{title}}" id="title" type="text" placeholder="Title" required>
						 	<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-person"></i>
							</span>
						</div>
						<div class="input-group">
						 	<input class="form-control border-radius border-right" value="{{email}}" name="email" type="email" id="email" placeholder="Email address" required>
						 	<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-email"></i>
							</span>
						</div>
						<div class="input-group">
						 	<input class="form-control border-radius border-right" value="{{phone}}" type="tel" id="phone" placeholder="Phone number">
						 	<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-ios-telephone"></i>
							</span>
						</div>
						<div class="input-group">
							<input class="form-control border-radius border-right" value="{{price}}" type="number" id="price" placeholder="Price">
							<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-ios-price"></i>
							</span>
						</div>
						<div class="input-group">
							<input class="form-control border-radius border-right" value="{{locationstart}}" type="text" id="locationstart" placeholder="Location Start">
							<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-ios-price"></i>
							</span>
						</div>

						<div class="input-group">
							<input class="form-control border-radius border-right" value="{{locationend}}" type="text" id="locationend" placeholder="Location End">
							<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-ios-price"></i>
							</span>
						</div>
						<div class="input-group">
							<input class="form-control border-radius border-right" value="{{datetime}}" type="date" id="datetime" placeholder="Date Time">
							<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-ios-price"></i>
							</span>
						</div>

						<div class="input-group">
						<textarea class="form-control border-radius border-right" value="{{message}}" rows="8" placeholder="Write Message" id="message"></textarea>
							<span class="input-group-addon border-radius custom-addon">
								<i class="ion-chatbubbles"></i>
							</span>
						</div>
						<div class="input-group">
							<input class="form-control border-radius border-right" type="file" id="image" placeholder="file">
							<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-ios-price"></i>
							</span>
						</div>
						<button type="submit" class="btn btn-default border-radius custom-button" id="update" >Update Post </button>
					</div>
				</div> <!-- /.col-sm-6 -->
				<div class="col-sm-6">
					<h2 class="section-title">
						Find Us Via Google Map
					</h2>
					<div id="googleMap">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3909.0142100834505!2d104.88089514993075!3d11.550838147540766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310951add5e2cd81%3A0x171e0b69c7c6f7ba!2sPasserelles+num%C3%A9riques+Cambodia+(PNC)!5e0!3m2!1sen!2skh!4v1449046601304" width="420" height="405" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div> <!-- /.col-sm-6 -->
			</div>
		</div>
	</section>

</Template>
